<!DOCTYPE html>
<html>
{{> head}}

<body>
    <link href=//d14rk0dlif47fw.cloudfront.net/static/css/views/product/detail.84d810ad70e61edc4a99022738370c6a.css rel=stylesheet
    />
    <section class="container">
        {{> header}}
        {{> countrySelect}}
        <main class="main">
            <section data-v-09371b3a class="el-container">
                {{> asideDetail}}
                {{> mainDetail}}
            </section>

            <div data-v-890fe0f0 data-v-09371b3a class="card">
                <div data-v-890fe0f0="" class="card-title" style="font-size: 18px; padding-bottom: 10px; margin-top: 30px;">
                    <span data-v-890fe0f0="">PEOPLE ALSO VIEW</span>
                    <span data-v-890fe0f0="" class="sub-title"></span>
                </div>
                {{> related}}
            </div>
        </main>
    </section>
    {{> relatedProd}}
    <script>
        var cls = 'active';
        $(function () {
            $(".sku-choose .attr-group").on("click", 'li', function () {
                $(this.parentNode).find('li').removeClass(cls);
                $(this).addClass(cls);
            });
        });
    </script>
</body>

</html>