<!DOCTYPE html>
<html>
{{> m_head}}

<body>
    <div id="app">
        <header>
            <div data-v-f3540c88="" class="nav-header">
                <div data-v-f3540c88="" class="nav nav-left">
                    <div data-v-f3540c88="" class="nav-country" onclick="show('J_countrySelect',1);">
                        <img data-v-f3540c88="" id="J_countryIcon" src="https://m.clubfactory.com/static/img/flags/au.jpg" alt="">
                        <i data-v-f3540c88="" class="iconfont icon-xiala"></i>
                    </div>
                </div>
                <span data-v-f3540c88="" class="nav-title">CLUB FACTORY</span>
                <div data-v-f3540c88="" class="nav nav-right" onclick="show('J_searchBar',1);">
                    <i data-v-f3540c88="" class="iconfont icon-sousuo"></i>
                </div>
            </div>
            <div data-v-1e2fc0f4="" class="category">
                <ul data-v-1e2fc0f4="">
                    <li data-v-1e2fc0f4="" class="active">All</li>
                    {{#data.category_list}}
                        <li data-v-1e2fc0f4="" class="">
                            <a href="https://m.clubfactory.com/categories/{{category_id}}?title={{name}}">{{name}}</a>
                        </li>
                    {{/data.category_list}}
                </ul>
            </div>
        </header>
        <main id="main" class="bg-white">
            <div data-v-838822e8="" id="home" class="home">
                <div data-v-53709837="" data-v-838822e8="" class="swipe banner">
                    <div data-v-53709837="" class="swipe-wrapper">
                        {{#data.banner}}
                        <a href="https://m.clubfactory.com/search/{{search_type}}?search={{search_key}}&image={{img_src}}" data-v-838822e8="" data-v-53709837="" class="swipe-item">
                            <img data-v-838822e8="" data-v-53709837="" src="{{img_src}}"
                                alt="">
                        </a>
                        {{/data.banner}}
                    </div>
                </div>
                <section data-v-838822e8="" id="download-observer"></section>
                <!---->
                {{> m_products}}
            </div>
        </main>
        {{> m_foot}}
        <section>
            <div id="J_countrySelect" style="display:none;">{{> m_countryList}}</div>
            <div id="J_searchBar" style="display:none;">{{> m_search}}</div>
        </section>
    </div>
    <script>
        function show(id,isShow){
            var d = document.getElementById(id);
            if(d){
                d.setAttribute("style",isShow?"":"display:none;");
            }
        }
    </script>
</body>

</html>