<!DOCTYPE html>
<html>
{{> m_head}}

<body>
    <div id="app">
        <header>
            <div data-v-f3540c88="" class="nav-header">
                <a href="https://m.clubfactory.com/home" data-v-f3540c88="" class="nav nav-left">
                    <i data-v-f3540c88="" class="iconfont icon-qianjin-copy"></i>
                </a>
                <span data-v-f3540c88="" class="nav-title">CLUB FACTORY</span>
                <div data-v-f3540c88="" class="nav nav-right"></div>
            </div>
        </header>
        <main id="main" class="bg-white">
            <div data-v-2216516c="" class="product-content" style="height: calc(100vh - 8rem);">
                <div data-v-2216516c="" id="content">
                    <div data-v-5d009277="" data-v-2216516c="" class="product-banner">
                        <div data-v-5d009277="" class="product-swipe">
                            <div data-v-53709837="" data-v-5d009277="" class="swipe">
                                <div data-v-53709837="" class="swipe-wrapper">
                                    {{#data.product_info.product_images}}
                                    <div data-v-5d009277="" data-v-53709837="" class="swipe-item">
                                        <div data-v-5c0d515e="" data-v-5d009277="" class="lazy-content" data-v-53709837="" style="">
                                            <img data-v-5c0d515e="" src="{{url}}"
                                                alt="" class="lazy-image show">
                                        </div>
                                    </div>
                                    {{/data.product_info.product_images}}
                                </div>
                            </div>
                        </div>
                        <div data-v-5d009277="" class="product_title">
                            <h6 data-v-5d009277="" itemprop="name">
                                {{data.product_info.name}}
                            </h6>
                        </div>
                        <div data-v-5d009277="" class="product-info">
                            <span data-v-5d009277="" class="product-no ">
                                Item No. {{data.product_info.product_no}}
                            </span>
                            <!---->
                        </div>
                        <div data-v-5d009277="" class="product_quick_info">
                            <div data-v-5d009277="">
                                <div data-v-5d009277="" class="box-price">
                                    <span data-v-5d009277="" class="price_number">{{data.product_info.list_price}}</span>
                                    <br data-v-5d009277="">
                                    <span data-v-5d009277="" class="price_currency">
                                        AUD
                                    </span>
                                </div>
                                <div data-v-5d009277="" class="circle-group">
                                    <div data-v-5d009277="" class="circle-red">{{data.off}}%
                                        <br>off</div>
                                    <div data-v-5d009277="" class="circle-blue">{{data.product_info.orders}}
                                        <br>sold</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-cd047450="" data-v-2216516c="" class="select-group">
                        <a href="https://m.clubfactory.com/service/faq/shipping-info">
                        <div data-v-cd047450="" class="select-item">
                            <i data-v-cd047450="" class="iconfont icon-delivery"></i>
                            <p data-v-cd047450="" class="item-content shipping-info">
                                <span data-v-cd047450="">FREE for order over AUD 27.11</span>
                                <span data-v-cd047450="">Arrives by Sep 10</span>
                                <span data-v-cd047450="">Orders under AUD 27.11 ship for AUD 4.07</span>
                            </p>
                            <i data-v-cd047450="" class="iconfont icon-qianjin"></i>
                        </div>
                        </a>
                    </div>
                    <div data-v-6cad7f04="" data-v-2216516c="" class="panel-group product-reviews">
                        <div data-v-6cad7f04="" class="panel-heading">
                            <span data-v-6cad7f04="" class="review-title">REVIEWS</span>
                            <p data-v-6cad7f04="">
                                <span data-v-6cad7f04="" class="user-rating">
                                    3.7/5.0
                                </span>
                                <span data-v-6cad7f04="">Ratings(8)</span>
                            </p>
                        </div>
                        <section data-v-6cad7f04="">
                            <div data-v-5ae4e49e="" data-v-6cad7f04="" class="panel-body">
                                <p data-v-5ae4e49e="" class="name">A****t</p>
                                <span data-v-5ae4e49e="" class="review-time">2017/10/27 下午10:46:07</span>
                                <span data-v-5ae4e49e="" class="sku">

                                </span>
                                <div data-v-5ae4e49e="" class="description">
                                    First experience was good and awesome,thanks a lot
                                </div>
                                <span data-v-10490928="" data-v-5ae4e49e="" class="star-rating">
                                    <div data-v-10490928="" class="red-star">
                                        <div data-v-10490928="" class="f-oh " style="width: 7rem;">
                                            ★★★★★
                                        </div>
                                    </div>
                                    <div data-v-10490928="" class="empty-star">
                                        ☆☆☆☆☆
                                    </div>
                                </span>
                            </div>
                            <!---->
                        </section>
                    </div>
                    <div data-v-369817f6="" data-v-a14f18a6="" data-v-2216516c="" class="panel-container product-description">
                        <div data-v-369817f6="" class="panel-heading">
                            <span data-v-369817f6="" class="title">
                                DESCRIPTION
                            </span>
                        </div>
                        <table data-v-a14f18a6="" data-v-369817f6="" class="panel-body">
                            <tbody data-v-a14f18a6="" data-v-369817f6="">
                                <tr data-v-a14f18a6="" data-v-369817f6="">
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-type">Gender</td>
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-details">Women</td>
                                </tr>
                                <tr data-v-a14f18a6="" data-v-369817f6="">
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-type">Weight</td>
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-details">about 400g</td>
                                </tr>
                                <tr data-v-a14f18a6="" data-v-369817f6="">
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-type">Sleeve Length(cm)</td>
                                    <td data-v-a14f18a6="" data-v-369817f6="" class="info-details">Full</td>
                                </tr>
                            </tbody>
                        </table>
                        <div data-v-369817f6="" class="panel-body view">See More</div>
                    </div>
                    <div data-v-4d974a82="" data-v-2216516c="" class="product-confidence">
                        <div data-v-369817f6="" data-v-4d974a82="" class="panel-container">
                            <!---->
                            <div data-v-4d974a82="" data-v-369817f6="">
                                <div data-v-4d974a82="" data-v-369817f6="" class="confidence-groups">
                                    <a data-v-4d974a82="" href="/service/about/factory-price" class="confidence-item" data-v-369817f6="">
                                        <i data-v-4d974a82="" class="iconfont icon-goubianyixianshizhekou"></i>
                                        <span data-v-4d974a82="" class="factory-price">Factory Price</span>
                                    </a>
                                    <a data-v-4d974a82="" href="/service/faq/return-policy" class="confidence-item item-middle"
                                        data-v-369817f6="">
                                        <i data-v-4d974a82="" class="iconfont icon-tuihuanhuo1"></i>
                                        <span data-v-4d974a82="">9 Days Easy
                                            <br> Returns</span>
                                    </a>
                                    <a data-v-4d974a82="" href="/service/faq/payment-protection" class="confidence-item"
                                        data-v-369817f6="">
                                        <i data-v-4d974a82="" class="iconfont icon-anquanzhifu"></i>
                                        <span data-v-4d974a82="">100% Payment Protection</span>
                                    </a>
                                </div>
                                <div data-v-4d974a82="" data-v-369817f6="" class="confidence-title">
                                    <p data-v-4d974a82="" data-v-369817f6="">Global Sourcing, Factory Price</p>
                                    <p data-v-4d974a82="" data-v-369817f6="">The good life does NOT need to be expensive.</p>
                                </div>
                            </div>
                            <div data-v-369817f6="" class="f-oh" style="display: none;">
                                <div data-v-4d974a82="">
                                    <img data-v-4d974a82="" src="/static/img/service/confidence.jpg" class="confidence-img">
                                </div>
                            </div>
                            <div data-v-369817f6="" class="panel-body view">See More</div>
                        </div>
                    </div>
                    <div data-v-2216516c="" class="product-related">
                        <p data-v-2216516c="" class="related-title">People Also Viewed</p>
                        
                        {{> m_products}}
                    </div>
                </div>
                <div data-v-cba9c890="" data-v-2216516c="" class="footer">
                    <a href="https://m.clubfactory.com/home" data-v-cba9c890="" class="btn-home">
                        <i data-v-cba9c890="" class="iconfont icon-fanhui"></i>
                        <span data-v-cba9c890="">Home</span>
                    </a>
                    <a  href="https://m.clubfactory.com/cart" data-v-cba9c890="" class="btn-cart">
                        <i data-v-cba9c890="" class="iconfont icon-gouwuche"></i>
                        <!---->
                    </a>
                    <a href="#" data-v-cba9c890="" class="btn-group btn-add-cart">
                        Add to Cart
                    </a>
                    <a href="#"  data-v-cba9c890="" class="btn-group btn-buy-now">
                        Buy Now
                    </a>
                </div>
                <!---->
            </div>
        </main>
    </div>
</body>

</html>