<!DOCTYPE html>
<html>
{{> m_head}}

<body>
    <div id="app">
        <header>
            <div data-v-f3540c88="" class="nav-header">
                    <a href="https://m.clubfactory.com/" data-v-f3540c88="" class="nav nav-left">
                        <i data-v-f3540c88="" class="iconfont icon-qianjin-copy"></i>
                    </a>
                <span data-v-f3540c88="" class="nav-title">{{keywords}}</span>
                <div data-v-f3540c88="" class="nav nav-right"></div>
            </div>
        </header>
        <main id="main" class="bg-white">
            <div data-v-838822e8="" id="home" class="home">
                {{> m_products}}
            </div>
        </main>
    </div>
</body>

</html>