<!DOCTYPE html>
<html>
{{> head}}

<body>
    <link href=//d14rk0dlif47fw.cloudfront.net/static/css/views/product.ab1e57c22f3d78fa4202f2ff7ab649c7.css rel=stylesheet />
    <style>
        .el-collapse-item__content a{
            color:#666;
        }
        .el-collapse-item__content .active a{
            color:#f15440;
        }
    </style>
    <section class="container" data-v-e1d58b16>
        {{> header}}
        {{> countrySelect}}
        <main class="main">
            <div class="el-container">
                {{> asideProd}}
                <section class="main-container" data-v-e1d58b16>
                    <div data-v-e1d58b16="" class="main-header">
                        <div data-v-cdcf7dfe="" data-v-e1d58b16="" class="sort-bar">
                            <span data-v-cdcf7dfe="">{{data.sort_info.title}} :</span>
                            <ul data-v-cdcf7dfe="">
                                {{#data.sort_info.values}}
                                    <li data-v-cdcf7dfe="" class="{{cls}}">{{name}}</li>
                                {{/data.sort_info.values}}
                            </ul>
                        </div>
                    </div>
                    {{> products}}
                </section>
            </div>
        </main>
    </section>
    {{> ajaxProd}}
</body>

</html>