<!DOCTYPE html>
<html>
{{> head}}

<body>
    <section class="container">
        {{> header}}
        {{> countrySelect}}
        <main class="main">
            <section class="content">
                {{> products}}
            </section>
        </main>
    </section>
    {{> ajaxProd}}
</body>

</html>