<aside data-v-e1d58b16="" class="el-aside" style="width: 200px;position: sticky;">
    <div data-v-e11711a4="" data-v-e1d58b16="" class="aside" style="width: 200px; position: inherit; top: 0px;">
        <ul data-v-033a84bc="" data-v-e11711a4="" class="breadcrumb">
            <li data-v-033a84bc="">
                <a data-v-033a84bc="" href="/views/product.html?categoryId={{data.category_info.category_id}}">{{data.category_info.name}}</a>
            </li>
            <li data-v-033a84bc="">
                <a data-v-033a84bc="">All</a>
            </li>
        </ul>
        <div data-v-e11711a4="" role="tablist" aria-multiselectable="true" class="el-collapse aside-comp">
            <div data-v-e11711a4="" class="el-collapse-item is-active">
                <div role="tab" aria-controls="el-collapse-content-2843" aria-describedby="el-collapse-content-2843" aria-expanded="true">
                    <div role="button" id="el-collapse-head-2843" tabindex="0" class="el-collapse-item__header is-active">
                        <i class="el-collapse-item__arrow el-icon-arrow-right is-active"></i>{{data.category_info.name}}</div>
                </div>
                <div role="tabpanel" aria-labelledby="el-collapse-head-2843" id="el-collapse-content-2843" class="el-collapse-item__wrap"
                    data-old-padding-top="" data-old-padding-bottom="" data-old-overflow="">
                    <div class="el-collapse-item__content">
                        <ul data-v-e11711a4="">
                            {{#data.category_info.sub_category}}
                                <li data-v-e11711a4="" class="{{cls}}"><a href="/views/product.html?categoryId={{data.category_info.category_id}}&subId={{category_id}}">{{name}}</a></li>
                            {{/data.category_info.sub_category}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>