<aside data-v-09371b3a="" class="el-aside" style="width: auto;">
        <div data-v-b040f5dc="" data-v-09371b3a="" class="product-preview">
            <div data-v-b040f5dc="" class="el-tabs el-tabs--left" style="height: 420px;">
                <div class="el-tabs__header is-left">
                    <div class="el-tabs__nav-wrap is-scrollable is-left">
                        {{#showSilde}}
                        <span class="el-tabs__nav-prev is-disabled">
                            <i class="el-icon-arrow-left"></i>
                        </span>
                        <span class="el-tabs__nav-next">
                            <i class="el-icon-arrow-right"></i>
                        </span>
                        {{/showSilde}}
                        <div class="el-tabs__nav-scroll">
                            <div role="tablist" class="el-tabs__nav" style="transform: translateY(0px);">
                                <div class="el-tabs__active-bar is-left" style="height: 70px; transform: translateY(0px);"></div>
                                {{#data.product_info.product_images}}
                                    <div aria-controls="pane-0" role="tab" aria-selected="true" tabindex="0" class="el-tabs__item is-left is-active">
                                        <div data-v-b040f5dc="" class="thumbnail active">
                                            <img data-v-b040f5dc="" src="{{url_small}}">
                                        </div>
                                    </div>
                                {{/data.product_info.product_images}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-tabs__content">
                    {{#data.product_info.product_images}}
                    <div data-v-b040f5dc="" role="tabpanel" id="pane-0" aria-labelledby="tab-0" class="el-tab-pane" style="">
                        <div data-v-b040f5dc="" class="preview">
                            <img data-v-b040f5dc="" itemprop="image" src="{{url}}">
                        </div>
                    </div>
                    {{/data.product_info.product_images}}
                </div>
            </div>
            <div data-v-b040f5dc="" class="btn-footer">
                <button data-v-b040f5dc="" type="button" class="el-button btn-add-cart normal opacity el-button--danger">
                    <span>ADD TO CART</span>
                </button>
                <button data-v-b040f5dc="" type="button" class="el-button btn-add-cart normal el-button--danger">
                    <span>BUY NOW</span>
                </button>
            </div>
        </div>
    </aside>
    <script>
        $(function(){
            
        });
    </script>