<head>
    <meta charset=utf-8>
    <meta name=format-detection content="telephone=no">
    <meta name=format-detection content="date=no">
    <meta name=format-detection content="address=no">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name=Description content="Club Factory: Online Shopping Site for Fashion and Mobile Accessories. Buy Clothes, Shoes, Bags, Jewelry, Mobile Accessories and Housekeeping tools. Everything at Fair Prices. Huge Selection.">
    <meta name=Keywords content="Club Factory">
    <title>Online Shopping Site for Fashion Clothes, Shoes, Bags, Jewelry, Mobile Accessories and more - Club Factory</title>
    <link rel="shortcut icon" href=//d14rk0dlif47fw.cloudfront.net/favicon.ico>
    <link href=//d14rk0dlif47fw.cloudfront.net/static/css/common.0c4276e65e7089d7b88cbdfeb498a4c2.css rel=stylesheet>
</head>