<div data-v-238faa32="" data-v-73e9fef4="" class="lightbox country-box">
    <div data-v-73e9fef4="" data-v-238faa32="" class="box-title">
        <i data-v-73e9fef4="" data-v-238faa32="" class="iconfont icon-qianjin-copy"  onclick="show('J_countrySelect');"></i>
        <span data-v-73e9fef4="" data-v-238faa32="">Country</span>
    </div>
    <ul data-v-a7142d50="" data-v-73e9fef4="" data-v-238faa32="">
        <li data-v-a7142d50="" data-code="au">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/au.jpg" alt="">
            <span data-v-a7142d50="">Australia</span>
        </li>
        <li data-v-a7142d50="" data-code="bh">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/bh.jpg" alt="">
            <span data-v-a7142d50="">Bahrain</span>
        </li>
        <li data-v-a7142d50="" data-code="bd">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/bd.jpg" alt="">
            <span data-v-a7142d50="">Bangladesh</span>
        </li>
        <li data-v-a7142d50="" data-code="br">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/br.jpg" alt="">
            <span data-v-a7142d50="">Brazil</span>
        </li>
        <li data-v-a7142d50="" data-code="ca">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/ca.jpg" alt="">
            <span data-v-a7142d50="">Canada</span>
        </li>
        <li data-v-a7142d50="" data-code="eg">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/eg.jpg" alt="">
            <span data-v-a7142d50="">Egypt</span>
        </li>
        <li data-v-a7142d50="" data-code="fr">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/fr.jpg" alt="">
            <span data-v-a7142d50="">France</span>
        </li>
        <li data-v-a7142d50="" data-code="in">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/in.jpg" alt="">
            <span data-v-a7142d50="">India</span>
        </li>
        <li data-v-a7142d50="" data-code="id">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/id.jpg" alt="">
            <span data-v-a7142d50="">Indonesia</span>
        </li>
        <li data-v-a7142d50="" data-code="il">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/il.jpg" alt="">
            <span data-v-a7142d50="">Israel</span>
        </li>
        <li data-v-a7142d50="" data-code="kw">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/kw.jpg" alt="">
            <span data-v-a7142d50="">Kuwait</span>
        </li>
        <li data-v-a7142d50="" data-code="lb">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/lb.jpg" alt="">
            <span data-v-a7142d50="">Lebanon</span>
        </li>
        <li data-v-a7142d50="" data-code="my">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/my.jpg" alt="">
            <span data-v-a7142d50="">Malaysia</span>
        </li>
        <li data-v-a7142d50="" data-code="mx">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/mx.jpg" alt="">
            <span data-v-a7142d50="">Mexico</span>
        </li>
        <li data-v-a7142d50="" data-code="om">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/om.jpg" alt="">
            <span data-v-a7142d50="">Oman</span>
        </li>
        <li data-v-a7142d50="" data-code="ph">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/ph.jpg" alt="">
            <span data-v-a7142d50="">Philippines</span>
        </li>
        <li data-v-a7142d50="" data-code="qa">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/qa.jpg" alt="">
            <span data-v-a7142d50="">Qatar</span>
        </li>
        <li data-v-a7142d50="" data-code="sa">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/sa.jpg" alt="">
            <span data-v-a7142d50="">Saudi Arabia</span>
        </li>
        <li data-v-a7142d50="" data-code="sg">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/sg.jpg" alt="">
            <span data-v-a7142d50="">Singapore</span>
        </li>
        <li data-v-a7142d50="" data-code="es">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/es.jpg" alt="">
            <span data-v-a7142d50="">Spain</span>
        </li>
        <li data-v-a7142d50="" data-code="lk">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/lk.jpg" alt="">
            <span data-v-a7142d50="">Sri Lanka</span>
        </li>
        <li data-v-a7142d50="" data-code="th">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/th.jpg" alt="">
            <span data-v-a7142d50="">Thailand</span>
        </li>
        <li data-v-a7142d50="" data-code="ae">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/ae.jpg" alt="">
            <span data-v-a7142d50="">United Arab Emirates</span>
        </li>
        <li data-v-a7142d50="" data-code="gb">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/gb.jpg" alt="">
            <span data-v-a7142d50="">United Kingdom</span>
        </li>
        <li data-v-a7142d50="" data-code="us">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/us.jpg" alt="">
            <span data-v-a7142d50="">United States</span>
        </li>
        <li data-v-a7142d50="" data-code="vn">
            <img data-v-a7142d50="" src="//m.clubfactory.com/static/img/flags/vn.jpg" alt="">
            <span data-v-a7142d50="">Vietnam</span>
        </li>
    </ul>
</div>
<script src="//cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"></script>
<script>
    $(function(){
        var country_code = Cookies.get("country_code") || 'us';
        var list = $("#J_countrySelect").find('li');
        list.each(function(){
            var code = $(this).attr('data-code');
            if(code === country_code){
                $("#J_countryIcon").attr("src",$(this).find('img').attr('src'));
                list.removeClass('active');
                $(this).addClass('active');
            }
        });
        $("#J_countrySelect").on("click",'li',function(){
            var code = $(this).attr('data-code');
            Cookies.set("country_code",code);
            location.href = "https://m.clubfactory.com/home";
        });
    });
</script>