<footer>
        <div data-v-7a25b632="" class="tab-bar">
            <a data-v-19232cb8="" data-v-7a25b632="" href="https://m.clubfactory.com/home" class="bottom-item router-link-active active">
                <i data-v-19232cb8="" class="iconfont icon-home">
                    <!---->
                </i>
                <span data-v-19232cb8="">Home</span>
            </a>
            <a data-v-19232cb8="" data-v-7a25b632="" href="https://m.clubfactory.com/categories" class="bottom-item">
                <i data-v-19232cb8="" class="iconfont icon-chugui1">
                    <!---->
                </i>
                <span data-v-19232cb8="">Categories</span>
            </a>
            <a data-v-19232cb8="" data-v-7a25b632="" href="https://m.clubfactory.com/cart" class="bottom-item">
                <i data-v-19232cb8="" class="iconfont icon-gouwuche">
                    <!---->
                </i>
                <span data-v-19232cb8="">Cart</span>
            </a>
            <a data-v-19232cb8="" data-v-7a25b632="" href="https://m.clubfactory.com/account" class="bottom-item">
                <i data-v-19232cb8="" class="iconfont icon-geren">
                    <!---->
                </i>
                <span data-v-19232cb8="">Account</span>
            </a>
        </div>
    </footer>