<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <meta name=Description content="Club Factory: Online Shopping Site for Fashion and Mobile Accessories. Buy Clothes, Shoes, Bags, Jewelry, Mobile Accessories and Housekeeping tools. Everything at Fair Prices. Huge Selection.">
    <meta name=Keywords content="Club Factory">
    <title>Club Factory | Lower Price, Better Service</title>
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <link rel=preconnect href=https://d1n1fwner8zc14.cloudfront.net/>
    <link rel=dns-prefetch href=https://d15lz63ykon5oa.cloudfront.net>
    <link rel=dns-prefetch href=https://dyaplt8c53xjm.cloudfront.net>
    <link rel=dns-prefetch href=https://d2a3boybi5mp5m.cloudfront.net>
    <link rel=dns-prefetch href=https://d1vs5fqeka2glf.cloudfront.net>
    <link rel=dns-prefetch href=https://d3kpm7yklociqe.cloudfront.net>
    <link rel=dns-prefetch href=https://d133dxmmx9ukk8.cloudfront.net>
    <link rel=dns-prefetch href=https://dc8edp3knaofj.cloudfront.net>
    <link rel=dns-prefetch href=https://d1n1fwner8zc14.cloudfront.net>
    <link rel=dns-prefetch href=https://d3109batpi8kzz.cloudfront.net>
    <link rel=dns-prefetch href=https://dwjz3yapguizc.cloudfront.net>
    <link rel=dns-prefetch href=https://d310zf7ogv6rea.cloudfront.net>
    <link rel=dns-prefetch href=https://d14rk0dlif47fw.cloudfront.net>
    <link rel=dns-prefetch href=https://connect.facebook.net>
    <script async src=https://www.google-analytics.com/analytics.js></script>
    <link rel=apple-touch-icon sizes=114x114 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-114x114.png>
    <link rel=apple-touch-icon sizes=120x120 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-120x120.png>
    <link rel=apple-touch-icon sizes=144x144 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-144x144.png>
    <link rel=apple-touch-icon sizes=152x152 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-152x152.png>
    <link rel=apple-touch-icon sizes=180x180 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-180x180.png>
    <link rel=apple-touch-icon sizes=57x57 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-57x57.png>
    <link rel=apple-touch-icon sizes=60x60 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-60x60.png>
    <link rel=apple-touch-icon sizes=72x72 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-72x72.png>
    <link rel=apple-touch-icon sizes=76x76 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-icon-76x76.png>
    <link rel=apple-touch-startup-image media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-320x460.png>
    <link rel=apple-touch-startup-image media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-640x920.png>
    <link rel=apple-touch-startup-image media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-640x1096.png>
    <link rel=apple-touch-startup-image media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-750x1294.png>
    <link rel=apple-touch-startup-image media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-1182x2208.png>
    <link rel=apple-touch-startup-image media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-1242x2148.png>
    <link rel=apple-touch-startup-image media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-748x1024.png>
    <link rel=apple-touch-startup-image media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-1496x2048.png>
    <link rel=apple-touch-startup-image media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-768x1004.png>
    <link rel=apple-touch-startup-image media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
        href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/apple-touch-startup-image-1536x2008.png>
    <link rel=icon type=image/png sizes=16x16 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/favicon-16x16.png>
    <link rel=icon type=image/png sizes=228x228 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/coast-228x228.png>
    <link rel=icon type=image/png sizes=32x32 href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/favicon-32x32.png>
    <link rel=manifest href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/manifest.json>
    <link rel="shortcut icon" href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/favicon.ico>
    <link rel=yandex-tableau-widget href=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/yandex-browser-manifest.json>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black-translucent>
    <meta name=apple-mobile-web-app-title content="Club Factory Lite">
    <meta name=application-name content="Club Factory Lite">
    <meta name=mobile-web-app-capable content=yes>
    <meta name=msapplication-TileColor content=#fff>
    <meta name=msapplication-TileImage content=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/mstile-144x144.png>
    <meta name=msapplication-config content=https://d1n1fwner8zc14.cloudfront.net/static/icons-iv1-71761d4e/browserconfig.xml>
    <meta name=theme-color content=#fff>
    <link href=https://d1n1fwner8zc14.cloudfront.net/static/css/v1.app.d000160af18092108961ebf534012349.css rel=stylesheet>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
</head>
