<section data-v-67a8423e="" data-v-838822e8="" infinite-scroll-disabled="isLoading" infinite-scroll-distance="100" class="product-list">
    {{#data.list}}
    <a data-v-5fa9ebbd="" data-v-67a8423e="" href="https://m.clubfactory.com/product/{{id}}" class="product-item">
        <div data-v-5fa9ebbd="">
            <div data-v-5fa9ebbd="" class="image-wrap">
                <div data-v-5c0d515e="" data-v-5fa9ebbd="" class="lazy-content" style="">
                    <img data-v-5c0d515e="" src="{{image_url}}" alt="" class="lazy-image show">
                </div>
            </div>
            <section data-v-5fa9ebbd="" class="product-content">
                <p data-v-5fa9ebbd="" class="info">
                    <span data-v-5fa9ebbd="" class="price">AUD 14.7</span>
                    <span data-v-5fa9ebbd="" class="off">26% off</span>
                </p>
                <p data-v-5fa9ebbd="" class="platform">
                    <span data-v-5fa9ebbd="" class="platform-price">AUD19.97</span>
                    <!---->
                </p>
            </section>
        </div>
    </a>
    {{/data.list}}
</section>