<div data-v-238faa32="" data-v-156d6626="" class="lightbox search-box">
    <form data-v-9edc743e="" class="search" action="https://m.clubfactory.com/search" method="GET" onsubmit="if(document.getElementsByName('q')[0].value===''){return false;}">
        <div data-v-156d6626="" data-v-238faa32="" class="search-input">
            <input data-v-156d6626="" name="q" data-v-238faa32="" type="text" placeholder="Search for category, product">
            <span data-v-156d6626="" data-v-238faa32="" onclick="show('J_searchBar');">Cancel</span>
        </div>
    </form>
    <div data-v-156d6626="" data-v-238faa32="" class="trending-search">
        <p data-v-156d6626="" data-v-238faa32="">Trending Searches</p>
        <div data-v-156d6626="" data-v-238faa32="" class="trending-item-list">
            {{#data.keywords}}
            <a data-v-156d6626="" data-v-238faa32="" href="https://m.clubfactory.com/search?q={{.}}" class="trending-item">{{.}}</a>
            {{/data.keywords}}
        </div>
    </div>
    <!---->
</div>