<main data-v-09371b3a="" class="el-main" style="padding-top: 0px; padding-bottom: 0px;">
    <!---->
    <p data-v-09371b3a="" itemprop="name" class="product-name">{{data.product_info.name}}</p>
    <div data-v-09371b3a="" class="product-no">
        Item NO.
        <div data-v-09371b3a="" itemprop="sku" style="display: inline;">{{data.product_info.product_no}}</div>
        <span data-v-09371b3a="">Tax Included</span>
    </div>
    <div data-v-09371b3a="" class="rate">
        <div data-v-09371b3a="" role="slider" aria-valuenow="4" aria-valuetext="4 / 5.0" aria-valuemin="0" aria-valuemax="5" tabindex="0"
            class="el-rate">
            {{#data.rateStars}}
                <span class="el-rate__item" style="cursor: auto;">
                    {{#star}}
                        <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"></i>
                    {{/star}}
                    {{^star}}
                        <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);"></i>
                    {{/star}}
                </span>
            {{/data.rateStars}}
            <span class="el-rate__text" style="color: rgb(255, 153, 0);">{{data.rating}} / 5.0</span>
        </div>
        <span data-v-09371b3a="" class="rate-total"> | {{data.rating_num}} ratings</span>
    </div>
    <div data-v-09371b3a="" class="product-price-group">
        <div data-v-09371b3a="" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer" class="product-price">
            <span data-v-09371b3a="" itemprop="price" class="price-num">{{data.product_info.list_price}}</span>
            <span data-v-09371b3a="" itemprop="priceCurrency" content="EGP" class="price-symbol">EGP</span>
        </div>
        <div data-v-854840bc="" data-v-09371b3a="" class="circle-tag">
            <span data-v-854840bc="">{{data.off}}%</span>
            <span data-v-854840bc="">off</span>
        </div>
        <div data-v-854840bc="" data-v-09371b3a="" class="circle-tag" style="color: rgb(74, 144, 226); border-color: rgb(74, 144, 226);">
            <span data-v-854840bc="">{{data.product_info.orders}}</span>
            <span data-v-854840bc="">orders</span>
        </div>
    </div>
    <div data-v-943e9a0c="" data-v-09371b3a="" class="sku-choose">
        {{#data.sku_list}}
            <div data-v-943e9a0c="" class="attr-row">
                <p data-v-943e9a0c="" class="attr-label">
                    <span data-v-943e9a0c="">{{name}}</span>
                </p>
                <ul data-v-943e9a0c="" class="attr-group">
                    {{#attr_list}}
                    <li data-v-943e9a0c="" class="" data-id="{{attr_value_id}}">
                        {{attr_value_name}}
                    </li>
                    {{/attr_list}}
                </ul>
            </div>
        {{/data.sku_list}}
        <div data-v-943e9a0c="" class="attr-row quantity">
            <p data-v-943e9a0c="" class="attr-label">
                <span data-v-943e9a0c="">Quantity</span>
            </p>
            <div data-v-e6c68e1c="" data-v-943e9a0c="" class="input-number">
                <div data-v-e6c68e1c="" class="el-input-number el-input-number--mini">
                    <span role="button" class="el-input-number__decrease is-disabled">
                        <i class="el-icon-minus"></i>
                    </span>
                    <span role="button" class="el-input-number__increase is-disabled">
                        <i class="el-icon-plus"></i>
                    </span>
                    <div class="el-input el-input--mini">
                        <input type="text" autocomplete="off" max="99" min="1" class="el-input__inner" role="spinbutton" aria-valuemax="99" aria-valuemin="1"
                            aria-valuenow="1" value=1 aria-disabled="undefined">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-890fe0f0="" data-v-09371b3a="" class="card delivery">
        <div data-v-890fe0f0="" class="card-title" style="font-size: 18px; padding-bottom: 10px; margin-top: 30px;">
            <span data-v-890fe0f0="">DELIVERY</span>
            <span data-v-890fe0f0="" class="sub-title"></span>
        </div>
        <div data-v-09371b3a="" data-v-890fe0f0="">
            <p data-v-09371b3a="" data-v-890fe0f0="" class="free-shipping">Free shipping on orders over EGP 715.02</p>
            <p data-v-09371b3a="" data-v-890fe0f0="">Arrive By Aug 20</p>
            <p data-v-09371b3a="" data-v-890fe0f0="">Order under EGP 715.02 ship for EGP 125.13</p>
        </div>
    </div>
    <div data-v-890fe0f0="" data-v-09371b3a="" class="card">
        <div data-v-890fe0f0="" class="card-title" style="font-size: 18px; padding-bottom: 10px; margin-top: 30px;">
            <span data-v-890fe0f0="">DESCRIPTION</span>
            <span data-v-890fe0f0="" class="sub-title"></span>
        </div>
        <div data-v-5cf6fb5a="" data-v-09371b3a="" class="description" data-v-890fe0f0="">
            <table data-v-5cf6fb5a="">
                {{#data.product_info.b_specifics}}
                <tr data-v-5cf6fb5a="">
                    <td data-v-5cf6fb5a="">{{key}}</td>
                    <td data-v-5cf6fb5a="">{{value}}</td>
                </tr>
                {{/data.product_info.b_specifics}}
            </table>
            <div data-v-5cf6fb5a="" class="toggle-more">See More</div>
        </div>
    </div>
    <!-- reviews -->
    <div data-v-890fe0f0="" data-v-09371b3a="" class="card">
        <div data-v-890fe0f0="" class="card-title" style="font-size: 18px; padding-bottom: 10px; margin-top: 30px;">
            <span data-v-890fe0f0="">RATING AND REVIEWS</span>
            <span data-v-890fe0f0="" class="sub-title"></span>
        </div>
        <div data-v-6d964c62="" data-v-09371b3a="" class="comments" data-v-890fe0f0="">
            <div data-v-6d964c62="" class="comments-summary">
                <div data-v-6d964c62="" class="comments-total">{{data.rating}}/5</div>
                <div data-v-6d964c62="" class="comments-rates">
                    <span data-v-6d964c62="" class="comments-rates-text">Somewhat Satisfied</span>
                    <div data-v-6d964c62="" role="slider" aria-valuenow="4" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0"
                        class="el-rate comments-rate-star">
                        {{#data.rateStars}}
                            <span class="el-rate__item" style="cursor: auto;">
                                {{#star}}
                                    <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"></i>
                                {{/star}}
                                {{^star}}
                                    <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);"></i>
                                {{/star}}
                            </span>
                        {{/data.rateStars}}
                    </div>
                    <span data-v-6d964c62="" class="comments-rates-num">{{data.rating_num}} Ratings</span>
                </div>
            </div>
            {{#data.review_list}}
                <div data-v-6355200a="" data-v-6d964c62="" class="comment-item">
                    <div data-v-6355200a="" class="comment-info">
                        <div data-v-6355200a="" class="comment-user">
                            <div data-v-6355200a="" class="comment-avatar">{{user_n}}</div>
                            <span data-v-6355200a="" class="comment-name">{{user_name}}</span>
                        </div>
                        <div data-v-6355200a="" class="comment-rate">
                            <div data-v-6355200a="" class="comment-rate-text"></div>
                            <div data-v-6355200a="" role="slider" aria-valuenow="5" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0"
                                class="el-rate">
                                {{#rateStars}}
                                    <span class="el-rate__item" style="cursor: auto;">
                                        {{#star}}
                                            <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"></i>
                                        {{/star}}
                                        {{^star}}
                                            <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);"></i>
                                        {{/star}}
                                    </span>
                                {{/rateStars}}
                            </div>
                        </div>
                    </div>
                    <div data-v-6355200a="" class="comment-time">
                        <span data-v-6355200a="">{{update_at}}</span>
                        <span data-v-6355200a="" class="comment-sku">{{skuValStr}}</span>
                    </div>
                    <p data-v-6355200a="" class="comment-content">{{{comment_html}}}</p>
                    <div data-v-2c07497a="" data-v-6355200a="" class="comment-images-container">
                        <div data-v-2c07497a="" class="comment-images"></div>
                        <!---->
                        <div data-v-2c07497a="" class="clear"></div>
                    </div>
                </div>
            {{/data.review_list}}
            <div data-v-6d964c62="" class="see-more">See More</div>
        </div>
    </div>
    <div data-v-1ab5afce="" data-v-09371b3a="" class="club-info">
        <div data-v-1ab5afce="" class="club-group">
            <a data-v-1ab5afce="" href="/views/document.html?type=factoryprice" target="_blank" class="club-row">
                <i data-v-1ab5afce="" class="iconfont icon-goubianyixianshizhekou"></i>
                <span data-v-1ab5afce="">Factory Price</span>
            </a>
            <a data-v-1ab5afce="" href="/views/document.html?type=returnpolicy" target="_blank" class="club-row">
                <i data-v-1ab5afce="" class="iconfont icon-tuihuanhuo1"></i>
                <span data-v-1ab5afce="">9 Days
                    <br>Easy Returns</span>
            </a>
            <a data-v-1ab5afce="" href="/views/document.html?type=paymentprotection" target="_blank" class="club-row">
                <i data-v-1ab5afce="" class="iconfont icon-anquanzhifu"></i>
                <span data-v-1ab5afce="">100%
                    <br>Payment Protection</span>
            </a>
        </div>
        <div data-v-1ab5afce="" class="club-dest">
            <p data-v-1ab5afce="" class="p1">Global Sourcing, Factory Price.</p>
            <p data-v-1ab5afce="" class="p2">The good life does NOT need to be expensive.</p>
            <img data-v-1ab5afce="" src="//d14rk0dlif47fw.cloudfront.net/static/img/confidence.1c80336.jpg" class="active">
            <div data-v-1ab5afce="" class="see-more">See More</div>
        </div>
    </div>
</main>