<div class="products" data-v-5c8754fc>
        <div class="product-list" data-v-13be3c2c data-v-5c8754fc style="margin-top:20px;">
            {{#data.product_info}}
            <a class="product-item" data-v-d5cfff4a >
                <div class="product-image" data-v-d5cfff4a style="background: url({{image_url}}) center center / 100% no-repeat;"></div>
                <div data-v-d5cfff4a="" class="product-info">
                    <div data-v-d5cfff4a="" class="product-price">
                        <span data-v-d5cfff4a="" class="price">Rs. 81.98</span>
                        <span data-v-d5cfff4a="" class="discount">76% off</span>
                    </div>
                    <div data-v-d5cfff4a="" class="third-price">
                        <span data-v-d5cfff4a="" class="platform-price">Rs. 341.57</span>
                    </div>
                </div>
            </a>
            {{/data.product_info}}
        </div>
    </div>