<div class="loading-bar" style="text-align: center;color:rgb(153, 153, 153);line-height: 3em;">loading...</div>
<script src="//cdn.bootcss.com/mustache.js/2.3.0/mustache.min.js"></script>
<script type="text/templete" id="J_productItem">
    <% #list %>
        <a class="product-item" data-v-d5cfff4a >
            <div class="product-image" data-v-d5cfff4a style="background: url(<% image_url %>) center center / 100% no-repeat;"></div>
            <div data-v-d5cfff4a="" class="product-info">
                <div data-v-d5cfff4a="" class="product-price">
                    <span data-v-d5cfff4a="" class="price">Rs. 81.98</span>
                    <span data-v-d5cfff4a="" class="discount">76% off</span>
                </div>
                <div data-v-d5cfff4a="" class="third-price">
                    <span data-v-d5cfff4a="" class="platform-price">Rs. 341.57</span>
                </div>
            </div>
        </a>
    <% /list %>
</script>
<script>
    $(function () {
        var URI = '/v3/product' + '{{{ajax}}}';
        var limit = 20;
        var count = 1;
        var tpl = $("#J_productItem").html().trim();
        Mustache.tags = ['<%', '%>']

        $(window).on("scroll", function () {
            //监听事件内容
            if(getDocumentTop() + getWindowHeight() == getScrollTop()){
                //当滚动条到底时,这里是触发内容
                //异步请求数据,局部刷新dom
                lazyLoadProduct()
            }
        });
        $(".backToTop").on('click',function(){
            $(window).scrollTop(0);
            return false;
        });
        function lazyLoadProduct() {
            if (lazyLoadProduct.load) {
                return false;
            }
            lazyLoadProduct.load = 1;
            $.get(URI, { limit: limit, offset: limit * (count++) }, function (data) {
                data.list = data.product_info || data.product_list;
                var html = Mustache.render(tpl, data);
                $(".product-list").append(html);
                if(data.list.length >= limit){
                    lazyLoadProduct.load = 0;
                }else{
                    $(".loading-bar").remove();
                }
            });
        }
    });
</script>
<script>
    //文档高度
    function getDocumentTop() {
        var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;
        if (document.body) {
            bodyScrollTop = document.body.scrollTop;
        }
        if (document.documentElement) {
            documentScrollTop = document.documentElement.scrollTop;
        }
        scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
        return scrollTop;
    }

    //可视窗口高度
    function getWindowHeight() {
        var windowHeight = 0;
        if (document.compatMode == "CSS1Compat") {
            windowHeight = document.documentElement.clientHeight;
        } else {
            windowHeight = document.body.clientHeight;
        }
        return windowHeight;
    }

    //滚动条滚动高度
    function getScrollTop() {
        var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;
        if (document.body) {
            bodyScrollHeight = document.body.scrollHeight;
        }
        if (document.documentElement) {
            documentScrollHeight = document.documentElement.scrollHeight;
        }
        scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
        return scrollHeight;
    }
</script>


<div data-v-0a629dc4="" data-v-5c8754fc="" class="backToTop"><p data-v-0a629dc4="">↑</p>TOP</div>
